.container {
    display: flex;
}
.cardWrapper {
    max-width: 250px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}
.cartContainer {
    background-color: #f0ece5;
    flex-direction: column;
    padding: 20px;
    display: flex;
    column-gap: 10px;
    row-gap: 5px;
}
.emptyCart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    color: #161a30;
    gap: 20px;
}
