.cartWrapper {
    background-color: #f0ece5;
    padding: 30px;
}
.btnContainer {
    display: flex;
    text-align: right;
    background-color: #f0ece5;
    justify-content: end;
    gap: 20px;
}
.cartcontent {
    margin: 50px 0;
    max-width: 700px;
    max-height: 300px;
    min-height: 100px;
    width: 100%;
    overflow-y: scroll;
}
.cartItems {
    background-color: #f0ece5;
    border: 1px solid #161a30;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.emptyCarttext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    color: #161a30;
    gap: 20px;
}
