.categoryWrapper {
    padding-bottom: 20px;
}
.swiperContain {
    padding-bottom: 20px;
}
.slider {
    cursor: pointer;
}
.title {
    font-weight: 700;
    font-size: 1.5rem;
    color: #161a30;
    text-align: center;
    align-items: center;
    padding: 30px;
}
.categorySwipper {
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 44px;
}

.categorySwipper :global(.swiper-slide) {
    text-align: center;
    font-size: 18px;
    background: #b6bbc4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryName {
    color: #161a30;
    font-weight: 500;
    font-size: 1.1rem;
}
