.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    color: #161a30;
    gap: 20px;
}
.notFound h2 {
    font-size: 55px;
}
.notFound p {
    font-size: 30px;
}
