.productCard {
    background-color: #f0ece5;
    padding: 20px;
    align-items: center;
}
.productName {
    font-size: 1rem;
    font-weight: 500;
    color: #161a30;
}
.price {
    font-size: 1rem;
    font-weight: 500;
    color: #161a30;
}
.des {
    font-weight: 0.5rem;
}
