.productCard {
    background-color: #f0ece5;
    padding: 20px;
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}
.productName {
    font-size: 1rem;
    font-weight: 500;
    color: #161a30;
}
.price {
    font-size: 1rem;
    font-weight: 500;
    color: #161a30;
}

.wishlist {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    cursor: pointer;
}
.sku {
    font-size: 0.8rem;
    font-weight: 500;
    color: #161a30;
}
