.container {
    display: flex;
    background-color: #f0ece5;

    flex-wrap: wrap;
    padding: 40px calc((100% - (255px * 3)) / 5);
}
.productCardWrapper {
    max-width: 250px;
    padding: 20px;
    display: flex;
}
.categoryTitle {
    color: #161a30;
    align-items: center;
    text-align: center;
}
