.container {
    display: flex;
}
.productCardWrapper {
    max-width: 250px;
    padding: 20px;
    display: flex;
}
.categoryTitle {
    color: #31304d;
    align-items: center;
    text-align: center;
}
