.pageWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31304d;
    color: white;
}
.logo {
    margin: 20px;
}

.menuWrapper {
    display: flex;
    justify-content: space-between;
}
.menuList {
    margin: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}
.accountwrapper {
    margin: 40px;
    font-size: 1.2rem;
    font-weight: 500;
}
