.footerWrapper {
    background-color: #31304d;
    color: white;
}

.footerTopRow {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.footerLeft {
    display: flex;
    flex-direction: column;
}
.footerMiddle {
}
.footerMiddlecontent {
}
.footerRight {
}
